h1 {
    padding-top: 40px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;

}

p {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-bottom: 40px;
}

ul { 
    text-align: center;
    list-style-type: none;
    display:inline-block; margin:0 auto; 
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 30 px;
}

h3 {
        padding-left: 20px;
        padding-right: 20px;
}

#rightList {
    border-right: 2px solid black;
    font-size: 150%;
}

#leftList {
    font-size: 150%;
}

#head {
    border-radius: 100%;
}

a {
    padding: 7px;
    text-decoration: none;
    color:  black;
    
}

a:hover {
    color:rgb(255, 130, 108);
}

#description {
    padding-left:350px;
    padding-right:350px;
}

#resume {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#contact {
    padding-top: 0px;
    margin-top: 0px;
}

#experience {
    padding-top: 10px;
    padding-bottom: 10px;
}

#moreInfo {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#uncommon {
    text-decoration: underline;
}

#cummins {
    text-decoration: underline;
}

#cummins2 {
    text-decoration: underline;
}

#ntn {
    text-decoration: underline;
}

#uits {
    text-decoration: underline;
}

#target {
    text-decoration: underline;
}





